<div class="footer">
  <div class="left" *ngIf="roundInProgress || resultsInProgress || roundStarting">
    <div>
      <div>OVER</div>
      <div>UNDER</div>
    </div>
    <div class="over-under">{{ firstFiveSum }}</div>
  </div>
  <div class="right" *ngIf="roundInProgress || resultsInProgress || roundStarting">
    <div>
      <div>Even</div>
      <div class="progress">
        <div
          class="filler"
          [style.width.%]="(evens.length / evenTotal) * 100"
        ></div>
      </div>
      <div>{{ evens.length }}</div>
    </div>
    <div>
      <div>Odd</div>
      <div class="progress">
        <div
          class="filler"
          [style.width.%]="(odds.length / oddTotal) * 100"
        ></div>
      </div>
      <div>{{ odds.length }}</div>
    </div>
  </div>
</div>
